---
layout: default
home: true
---

<style>
    body {
        padding: 5.5% 6.5% 0 6.5%;
    }

</style>

<div class="home">
    {% if site.pagination %}
    {% assign source = paginator.posts %}
    {% else %}
    {% assign source = site.posts %}
    {% endif %}

    {% for post in source reversed %}
    {% assign newlist = forloop.index0 | modulo:11 %}
    {% if newlist == 0 %} <ul class="post-list"> {% endif %}
        <li {% if post.style %} style="{{post.style}}" {% endif %} {% if forloop.index == 17 %} class="big" {% endif %}>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link">
                <img src="{{ post.thumb }}" class="post-list-thumb"/>
            </a>

        </li>
    {% if newlist == 10 %} </ul> {% endif %}
    {% endfor %}
</div>
<a href="reform.html" class="signatur">
    <div class="title">REFORM</div>
    <div class="author" style="">Markus Li Stensrud</div>
    <div class="location" style="">Amalie Skram vgs, 2015</div>
</a>
