---
layout: default
home: true
---

<style>
    body {
        padding: 40px;
    }
    main#sb-site {
        position: relative;
        padding: 6.5% 0 7.5% 0;
        border: 10px solid black;
    }
</style>

<div class="home">
    {% if site.pagination %}
    {% assign source = paginator.posts %}
    {% else %}
    {% assign source = site.posts %}
    {% endif %}

    {% for post in source reversed %}
    {% assign newlist = forloop.index0 | modulo:11 %}
    {% if newlist == 0 %} <ul class="post-list"> {% endif %}
        <li {% if forloop.index == 17 %} class="big" {% endif %}>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link">
                <img src="{{ post.thumb }}" class="post-list-thumb"/>
                <!--<div class="post-list-info">-->
                <!--<h2 class="post-list-title">{{ post.title }}</h2>-->
                <!--<span class="post-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>-->
                <!--</div>-->
            </a>

        </li>
    {% if newlist == 10 %} </ul> {% endif %}
    {% endfor %}



    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
    <!-- <p class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            Subscribe via RSS
            <i class="icon ion-social-rss"></i>
        </a>
    </p> -->
</div>
<div class="signatur">
    <div style="font-size: 32px; margin-bottom: 8px; letter-spacing: 3px;">REFORM</div>
    <div style="color:#ddd; font-size: 14px; margin-bottom: 8px;">Markus Li Stensrud</div>
    <div style="color:#ddd; font-size:12px;">Amalie Skram vgs, 2015</div>
</div>
