<script type="text/javascript" src="{{ '/assets/js/libs/jquery.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/libs/jquery.scrollstop.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/libs/rrssb.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/libs/slidebars.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/functions.js' | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.1.5/js/swiper.jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>

<script type="text/javascript">
</script>

<script>

    $(document).ready(function () {
        var slidebars = new $.slidebars();
        var shouldShow = false;

        var menu = $('.sb-menu');
        var topbar = $('.topbar');
        var topBarButton = $('.sb-toggle-top');
        var menuHeight = menu.height();
        var windowHeight = $(window).height();
        var Gallery = blueimp.Gallery

        topbar.hide();

        $('.filler-block').height(windowHeight);

        var menuLinks = $('.sb-menu a');
        var body = $('body');

        $('body').click(function () {
            slidebars.slidebars.close();
        });

        if (menuLinks.length) {
            $('html').css('overflow-y', 'hidden');
        }


        menuLinks.click(function (event) {
            var target = event.currentTarget.getAttribute('href');
            slidebars.slidebars.close();
            $('html').css('overflow-y', 'auto');
            if (target === '#') {
                $('html').css('overflow-y', 'hidden');
                event.preventDefault();
                $('.filler-block').animate({height: windowHeight + 'px'}, {
                    complete: function () {
                        body.animate({scrollTop: 0});
                    }
                });
                return false;
            } else if (target === '#referanser') {
                //slidebars.slidebars.close();
                $('#links a').first().trigger('click').trigger('click');
                return false;
            } else if (target === '#dokumentasjon') {
                //slidebars.slidebars.close();
                $('#dokumentasjon a').first().trigger('click').trigger('click');
                return false;
            }
            return scrollToTarget(target);
        });

        topBarButton.click(function () {
            shouldShow = true;
            showTopBar();
        });

        var showTopBar = function () {
            topBarButton.fadeOut(50);
            topbar.slideDown();
        };

        /*        $("img").one("load", function(event) {
         var currentTarget = $(event.currentTarget);
         var li = currentTarget.parent().parent();
         var scale = li.height()/event.currentTarget.clientHeight;
         var newWidth = li.width()*scale;
         li.css('max-width', newWidth);
         li.css('width', newWidth);
         console.log('loaded', event);
         }).each(function() {
         if(this.complete) $(this).load();
         });*/

        var hideTopBar = function () {
            topbar.slideUp(200, function () {
                topBarButton.show();
            });
        };

        $(window).on('scroll', function () {
            if (body.scrollTop() < 10) {
                if (!shouldShow) hideTopBar();
                return;
            }
            shouldShow = false;
            if (topbar.css('display') == 'none') {
                showTopBar();
            }
        });

        function openGallery() {
            var linkElms = $('#links a');
            var links = linkElms.map(function (index, elm) {
                return {href: elm.href, title: ''}
            });
            blueimp.Gallery(links, {
                container: '#blueimp-gallery',
                carousel: true
            });
        }


        function scrollToTarget(target) {
            var targetElm = $(target);
            if (targetElm.length) {
                event.preventDefault();
                body.animate({scrollTop: targetElm.offset().top - menuHeight}, {
                    complete: function () {
                        $('.filler-block').height(200);
                        body.scrollTop(targetElm.offset().top - menuHeight);
                    }
                });
                return false;
            }
            return true;
        }
    });
</script>
