<a href="#" class="sb-toggle-right">Menu
    <span class="nav-icon"></span>
</a>

<div class="sb-slidebar sb-right sb-style-push">
    <nav>

        <ul class="sb-menu">
            <li>
                <a href="#">{{ page.title }}</a>
            </li>
            <li>
                <a href="#dokumentasjon">Objekt</a>
            </li>
            {% if page.referanser %}
            <li>
                <a href="#referanser">Referanser</a>
            </li>
            {% endif %}
            {% if page.tekst %}
            <li>
                <a href="#sb-site">Tekst</a>
            </li>
            {% endif %}
            <li>
                <a href="#lenker">Lenker</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/">Forside</a>
            </li>
        </ul>
    </nav>
</div>
