<a href="#" class="sb-toggle-top">Menu
    <span class="nav-icon"></span>
</a>

<div class="topbar">
    <nav>

        <ul class="sb-menu">
            <li>
                <a href="{{ site.baseurl }}/"><h2 class="site-title">{{ site.title }}</h2></a>
            </li>
            <li>
                <a href="#">{{ page.title }}</a>
            </li>
            {% if page.referanser %}
            <li>
                <a href="#referanser">Referanser</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
