<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% if page.ispost %}
<div class="filler-block" style="height:1080px;"></div>
{% endif %}
{% include loader.html %}

<main id="sb-site" style="min-height: inherit;">
    <div class="container">
        <div class="wrapper">
            {{ content }}
        </div>

        {% include next.html %}

    </div>

</main>

{% include js.html %}

<div class="background">
    <img src="{{page.backgrounds[0]}}">
</div>
</body>
{% if page.ispost %}
{% include sidebar.html %}
{% endif %}

</html>
