---
layout: default
ispost: true
---
<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <div id="referanser" class="swiper-container" style="margin-bottom: 50px">
            <div class="swiper-wrapper">
        <!-- Slides -->
            {% for referanse in page.referanser %}
                <div class="swiper-slide">
                    <img src={{referanse}} />
                </div>
            {% endfor %}
            </div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
    </div>

    </div>

    <article class="post-content">
        {{ content }}
    </article>

</div>
